html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    background-color: #D0D0D0;
    font-size: 0.75rem;
    height: 100%;
}

body {
  font-size: 100%;
  font-family: "Titillium Web", sans-serif;
  color: #4e6361;
  background-color: #D0D0D0;
}

a {
  text-decoration: none;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: #f5f4e9;
  z-index: 1;
  padding-top: 6rem;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.cd-main-content.lateral-menu-is-open {
  /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-27rem);
  -moz-transform: translateX(-27rem);
  -ms-transform: translateX(-27rem);
  -o-transform: translateX(-27rem);
  transform: translateX(-27rem);
}

/* ----------------- HEADER ------------------------  */
header {
    background: #ffffff;
    border-top: 0.25rem solid #003366;
    border-bottom: 0.15rem solid #B0B0B0;
    height: 5rem;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

@media only screen and (min-width: 768px) {
    header {
        height: 6.5rem;
    }
}

#cd-logo {
    float: left;
    max-width: 9rem;  
}

#cd-logo img {
    border-left: 0.1rem solid #D0D0D0;
    border-right: 0.1rem solid #D0D0D0;
    margin-left: 0;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    
    #cd-logo {
        max-width: 12rem;
    }

    #cd-logo img {
    margin-left: 3rem;
    }

}

.cd-name{
  display: none;
}

@media only screen and (min-width: 768px){
  
  .cd-name{
    display: block;
    color: #003366;
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 14rem;
    padding: 2.25rem;
    text-transform: uppercase;
  }

}

#cd-top-nav {
  position: absolute;
  top: 0;
  right: 5rem;
  height: 100%;
  display: block;
}

#cd-top-nav ul {
  height: 100%;
}

#cd-top-nav li {
  display: inline-block;
}

#cd-top-nav a {
  display: inline-block;
  padding: 1.5rem;
  color: #003366;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

#cd-top-nav a.current {
  background-color: #242e30;
}

.no-touch #cd-top-nav a:hover {
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (min-width: 768px) {

  #cd-top-nav {
    right: 11rem;
  }

  #cd-top-nav ul {}

  #cd-top-nav a {
    padding: 2.25rem 2.25rem 2rem 2.25rem;
  }

}

#cd-menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #003366;
}

#cd-menu-trigger .cd-menu-text {
  height: 100%;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 600;
  display: none;
}

#cd-menu-trigger .cd-menu-icon {
  /* this span is the central line in the menu menu */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: #FFF;
  /* these are the upper and lower lines in the menu menu */
}

#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
  left: 0;
}

#cd-menu-trigger .cd-menu-icon::before {
  bottom: 5px;
}

#cd-menu-trigger .cd-menu-icon::after {
  top: 5px;
}

#cd-menu-trigger.is-clicked .cd-menu-icon {
  background-color: rgba(255, 255, 255, 0);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
  background-color: white;
}

#cd-menu-trigger.is-clicked .cd-menu-icon::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#cd-menu-trigger.is-clicked .cd-menu-icon::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    #cd-menu-trigger {
        width: 50px;
        padding-left: 1.25em;
    }

    #cd-menu-trigger .cd-menu-text {
        display: inline-block;
        line-height: 70px;
    }

    #cd-menu-trigger .cd-menu-icon {
        left: auto;
        right: 1.25em;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

#cd-lateral-nav {
  border: 0.25rem solid #003366;
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  visibility: hidden;
  /* the secondary navigation is covered by the main element */
  z-index: 1001;
  width: 27rem;
  background-color: #003366;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -ms-transform: translateX(80px);
  -o-transform: translateX(80px);
  transform: translateX(80px);
}

#cd-lateral-nav .close{
    width: 2.5rem;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    opacity: 1;
    top: 0;
}

#cd-lateral-nav .cd-navigation {
  margin: 10px 0 16px;
}

#cd-lateral-nav .sub-menu {
  padding: 0 10px 20px 15px;
  display: none;
}

#cd-lateral-nav a {
  display: block;
  line-height: 2em;
  padding: 0 16px 0 32px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem; 
  text-decoration: none;
}

#cd-lateral-nav a.current {
  background-color: #003366;
  color: #FFF;
}

.no-touch #cd-lateral-nav a:hover {
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  #cd-lateral-nav .cd-navigation {
    margin: 20px 0;
  }
}

#cd-lateral-nav.lateral-menu-is-open {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
  transition: transform .4s 0s, visibility 0s 0s;
  /* smooth the scrolling on touch devices - webkit browsers */
  -webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */
}

#cd-lateral-nav .item-has-children > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1em;
  background: url("../images/page-icons/cd-arrow.svg") no-repeat center center;
  background-size: 8px 11px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

#cd-lateral-nav .item-has-children > a.submenu-open::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -moz-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  -o-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

#cd-lateral-nav .socials {
  padding: 0 32px;
}

#cd-lateral-nav .socials:after {
  content: "";
  display: table;
  clear: both;
}

#cd-lateral-nav .socials a {
  height: 32px;
  width: 32px;
  float: left;
  padding: 0;
  background-image: url("../images/page-icons/cd-socials.svg");
  background-repeat: no-repeat;
  background-size: 128px 64px;
  background-color: #FFF;
  margin-right: .5em;
  border-radius: 0.25em;
}

#cd-lateral-nav .socials a.cd-twitter {
  background-position: 0 0;
}

#cd-lateral-nav .socials a.cd-github {
  background-position: -32px 0;
}

#cd-lateral-nav .socials a.cd-facebook {
  background-position: -64px 0;
}

#cd-lateral-nav .socials a.cd-google {
  background-position: -96px 0;
}

.no-touch #cd-lateral-nav .socials a:hover {
  background-color: #4e6361;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
  background-position: 0 -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-github {
  background-position: -32px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
  background-position: -64px -32px;
}

.no-touch #cd-lateral-nav .socials a:hover.cd-google {
  background-position: -96px -32px;
}

/* ------------------------------------------------------
-------------------- .CONTENT ----------------------------
--------------------------------------------------------- */
.content{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 2rem;
    width: 80%;
}

.content_2{
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0.5rem 0.5rem 0.75rem #999999;
    padding: 1rem;
    margin: auto;
}

/* -------------------------------------------------------
-------------- .PAGE GLOBAL STYLES -----------------------
------------------------------------------------------- */
.title{
    color: #003366;
    border-bottom: 0.125rem solid #009900;
    font-size: 3rem;
}

.subtitle{
    color: #003366;
    font-size: 1.4em;
    margin-left: 0.625rem;
    margin-top: 1.125rem;
}

@media only screen and (max-width: 850px){
    .title{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 400px){
    .title{
        font-size: 1.6rem;
    }
}

/* ------------------------------------------------------
-------------------- .SLIDER ----------------------------
--------------------------------------------------------- */
.slider{
    margin: auto;
    width: 80%;
}

.slider > img{
    margin: auto;
    width: 100% !important;
}

/* -------------------------------------------------------
------------------------ .ABOUT --------------------------
------------------------------------------------------- */
.about{
    font-size: 1.4rem;
    margin: auto;
    padding: 1rem;
    text-align: justify;
}

.about article{
    margin: 1rem;
}

.about ul{
    padding-left: 4.375rem;
}

@media only screen and (max-width: 800px){
    .about{
        font-size: 1rem;
    }

    .about ul{
        padding-left: 3.125rem;
    }
}

/* -------------------------------------------------------
------------------------ .ACCESSES  ----------------------
------------------------------------------------------- */
.accesses {
    background: #FFFFFF;
    border: 1px solid #999999;
    float: left;
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.accesses img{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.accesses a{
    bottom: 0;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.accesses a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 1050px ) and (min-width: 840px){
    .accesses a{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 840px ) and (min-width: 760px){
    .accesses a{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 767px){
    .accesses {}

    .accesses img{
        max-width: 30%;
    }

    .accesses a{
        font-size: 1.75rem;
    }   
}

/* ---------------------------
    ----------Group ----------
----------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}

input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus{ 
    outline:none; 
}

/* LABEL ======================================= */
label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar { 
    position:relative; 
    display:block; 
    width: 100%; 
}

.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}