* {
  margin: 0;
}
html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -200px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

footer, .page-wrap:after {
  height: 200px; 
}

@font-face {
  font-family: "fontawesome";
  src: url("../fonts/fontawesome-webfont1.eot?") format("eot"),
  url("../fonts/fontawesome-webfont1.woff2") format("woff2"),
  url("../fonts/fontawesome-webfont1.woff") format("woff"),
  url("../fonts/fontawesome-webfont1.ttf") format("truetype"),
  url("../fonts/fontawesome-webfont1.svg#fontawesome-webfont1") format("svg");
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
    font-size: 0.75rem;
    height: 100%;
}

body {
  font-size: 100%;
  font-family: "Titillium Web", sans-serif;
  color: #4e6361;
  background-color: #DADADA;
}

a {
  text-decoration: none;
}

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.overflow-hidden {
  overflow: hidden;
}

.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  position: relative;
  background-color: #f5f4e9;
  z-index: 1;
  padding-top: 6rem;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.cd-main-content.lateral-menu-is-open {
  /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
  -webkit-transform: translateX(-27rem);
  -moz-transform: translateX(-27rem);
  -ms-transform: translateX(-27rem);
  -o-transform: translateX(-27rem);
  transform: translateX(-27rem);
}

/* ----------------- HEADER ------------------------  */
header{
	background: #ffffff;
	border-top: 0.25rem solid #003366;
	border-bottom: 1px solid #b3b3b3;
	position: fixed;
	top: 0;
	width: 100%;
    z-index: 1001;
}

header .header-container{
	margin: 0 auto;
	overflow: hidden;	
}

.header-container #logo{
	cursor: pointer;
	height: 65px;
	float: left;
	max-width: 10rem; 
}

.header-container #logo img{
	border-left: 1px solid #b3b3b3;
	width: 100%;
}

.header-container nav{
	width: 87.5%;
	text-align: right;
	overflow: hidden;
	height: 64px;
	z-index: 5000;
}

.header-container .navigation{
	list-style: none;
}

.header-container .navigation ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.header-container .navigation li{
	border-left: 1px solid #b3b3b3;
	display: inline-block;
	float: left;
	font-weight: 400;
	height: 65px;
	text-align: center;
	width: 12%;
}

.header-container .navigation li .option{
	margin: 0;
	border: 0;
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-user-select: none;
	perspective: 500px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	cursor: pointer;
	z-index: 5000;
}

.header-container .navigation li .option div{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 65px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.header-container .navigation li .option div a{
	color: #000000;
	line-height: 65px;
	font-size: 13px;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 0;
	text-decoration: none;
}

.header-container .navigation li .option div a:hover{
	background: #003366;
	color: #ffffff;
}

.header-container .navigation li .option div a .anchor{
	/*background: url('img/arrow-down.png') 87% 50% no-repeat;*/
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.header-container li > ul{
    list-style: none;
    pointer-events: none;
    min-width: 10.5%;
    background: #fff;
    position: absolute;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	margin: 0;
    padding: 0;
    top: 0px;
    z-index: 4000;
    overflow: hidden;
    cursor: auto;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    filter: alpha(opacity=0);
    -webkit-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    -moz-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    -ms-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    -o-transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
    transition: opacity 10ms ease-out, top 500ms cubic-bezier(0.3, 0.48, 0, 0.84);
}

.header-container .navigation > li:hover ul {
    pointer-events: all;
    top: 66px;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    filter: alpha(opacity=100);
}

.header-container .navigation > li ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
	float: none;
	display: block;
	width: 100%;
}

.header-container .navigation li div{
	position: absolute;
	text-align: center;
	width: 100%;
	height: 65px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.header-container .navigation > li ul li a {
	color: #000000;
	line-height: 65px;
	font-size: 13px;
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: 0;
	text-decoration: none;
}

.header-container .navigation > li ul li a:hover {
    color: #ffffff;
    background-color: #003366;
}

.isSelected{
    color: #ffffff !important;
    background-color: #003366;
}

.is_close{
    background: url('../images/page-icons/responsiveMenu.png') no-repeat center center;
    display: none;
    padding: 2.75rem;
    position: absolute;
    right: 0;
    top: 0;
}

.is_open {
    background: url('../images/page-icons/closeResponsive.png') no-repeat center center;
    display: none;
    padding: 2.75rem;
    position: absolute;
    right: 0;
    top: 0;
}

/* ------------------------------
    ------- Responsive ----------
    ----------------------------- */
@media only screen and (max-width: 1024px){
    
    header .header-container .is_close, header .header-container .is_open {
        display: block;
    }

    header .header-container nav .sub-menu{
        display: none;
    }
        
    header .header-container nav{
        background: #003366;
        height: 100%;
        right: -100%;
        margin: 0;
        position: fixed;
        top: 68px;
        width: 50%;
    }

    header .navigation li{
        display: block !important;
		float: none !important;
		width: 100% !important;
    }

    .header-container .navigation li .option{
	    border-bottom: 1px solid #ffffff;
        border-left: 0;
        border-top: 1px solid #ffffff;
    }

    .header-container .navigation li .option div a{
	    color: #ffffff;
    }

}

@media only screen and (max-width: 480px){
            
    header .header-container nav{
        width: 100%;
    }

}

/* ------------------------------------------------------
-------------------- .CONTENT ----------------------------
--------------------------------------------------------- */
.content{
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 2rem;
    width: 80%;
}

@media only screen and (max-width: 620px){

    .content{
        width: 100%;
    }
    
}

.content_2{
    background-color: #FFFFFF;
    border: 1px solid #999999;
    box-shadow: 0.5rem 0.5rem 0.75rem #999999;
    padding: 1rem;
    margin: auto;
    width: 90%;
}

.group-container{
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 768px){
    .group-container{
        width: 90%;
    }
}

/* ------------------------------------------------------
--------------------- FOOTER  -------------------------
------------------------------------------------------- */
footer{
    background: #003366;
    box-shadow: 0px 5px 5px #888, 0px -3px 5px #888;
}

footer .footer-container{
    margin: 0 auto;
    overflow: hidden;
    max-width: 920px;
    width: 80%;
}

footer .footer-container .title-footer{
    color: #ffffff;
    display: block;
    font-size: 16px;
    font-weight: 600;
}

footer .footer-container .catalog-col{
    padding-top: 20px;
    float: left;
    width: 33%;
}

footer .footer-container .contact-col{
    padding-top: 20px;
    float: left;
    width: 33%;
}

footer .footer-container .contact-col .info{
    color: #ffffff;
    display: block;
    font-size: 15px;
    margin: 5px 0;
}

footer .footer-container .catalog-col ul{
    width: 100%;
}

footer .footer-container .catalog-col ul li{
    list-style: none;
    margin: 5px 0;
}

footer .footer-container .catalog-col ul li a{
    color: #ffffff;
    font-size: 15px;
}


footer .footer-container .footer-bottom{
    padding-top: 20px;
    float: left;
    overflow: hidden;
    width: 33%;
}

footer .footer-container .copyright-col{
    display: block;
    float: left;
    margin-top: 10px;
    width: 100%;
}

footer .footer-container .copyright-col a{
    color: #ffffff;
}

footer .footer-container .copyright-col .info{
    color: #ffffff;
    display: block;
    font-size: 15px;
    margin: 5px 0;
    width: 100%;
}

footer .footer-container .social-col{
    display: block;
    float: left;
    width: auto;
}

footer .footer-container .social-col img{
    padding: 5px;
}

footer .bottom{
    color: #ffffff;
    float: left;
    font-size: 15px;
    padding: 10px 0;
    width: 100%;
}

span.facebook_icon:after{
content: '\E849';
    font-family: 'fontello';
    font-size: 25px;
    color: #FFFFFF;
}

@media screen and (max-width: 660px){
    

    footer .footer-container .catalog-col{
        width: 100%;
    }

    footer .footer-container .contact-col{
        width: 100%;
    }

    footer .footer-container .footer-bottom{
        width: 100%;
    }
    
    .page-wrap {
      margin-bottom: -500px; 
    }

    footer, .page-wrap:after {
        height: 500px; 
    }

    footer .footer-container .social-col .facebook_icon{
        width: 100%;
    }
}

/* -------------------------------------------------------
-------------- .PAGE GLOBAL STYLES -----------------------
------------------------------------------------------- */
.title{
    color: #003366;
    border-bottom: 0.125rem solid #009900;
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

.reportBtn{
    max-width: 70px;
}

.reportBtnCenter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70px;
}


.subtitle{
    color: #003366;
    font-size: 1.4em;
    margin-left: 0.625rem;
    margin-top: 1.125rem;
}

.successEmail{
    color: #009900;
    font-size: 16px;
    text-align: center;
}

.errorEmail{
    color: #E80000;
    font-size: 13px;
    text-align: center;
}

.reportButton{
    border-radius: 0;
    border: 1px solid #003366;
    background: #003366;
    color: #ffffff;
    font-size: 16px;
    width: auto;
}

@media only screen and (max-width: 850px){
    .title{
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px){
    
    .reportButton{
        width: 100%;
    }
}

@media only screen and (max-width: 400px){
    .title{
        font-size: 1.6rem;
    }
}

/* ------------------------------------------------------
-------------------- .SLIDER ----------------------------
--------------------------------------------------------- */
.slider{
    margin: auto;
    width: 90%;
}

.slider > img{
    margin: auto;
    width: 100%;
}

/* -------------------------------------------------------
------------------------ .ABOUT --------------------------
------------------------------------------------------- */
.about{
    font-size: 1.4rem;
    margin: auto;
    padding: 1rem;
    text-align: justify;
}

.about article{
    margin: 1rem;
}

.about ul{
    padding-left: 4.375rem;
}

@media only screen and (max-width: 800px){
    .about{
        font-size: 1rem;
    }

    .about ul{
        padding-left: 3.125rem;
    }
}

/* -------------------------------------------------------
------------------------ .ACCESSES  ----------------------
------------------------------------------------------- */

.accesses {
    background: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    text-align: center;  
    max-width: 300px;
}

.accesses img{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.accesses a{
    bottom: 0;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.accesses a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 1050px ) and (min-width: 840px){
    .accesses a{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 840px ) and (min-width: 760px){
    .accesses a{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 767px){
    .accesses {}

    .accesses img{
        max-width: 30%;
    }

    .accesses a{
        font-size: 1.75rem;
    }   
}

@media only screen and (max-width: 770px ) and (min-width: 580px){
    .accesses-container{
        width: 50%;
    }
}

@media only screen and (max-width: 770px ) and (min-width: 400px){
    .accesses{
        max-width: 300px;
    }
}

/* ---------------------------
    ----------Group ----------
----------------------------- */
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width: 100%;
  border:none;
}

input:focus{ 
    outline:none; 
}

/* LABEL ======================================= */
label {
    font-weight: normal;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  font-size:14px;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* ---------------------------
  ---------- Services ----------
----------------------------- */
.listCourse{
    color: #202020;
    overflow: hidden;
}

.course{
    background: #ffffff;
    float: left;
    font-size: 1.3rem;
    margin: 0 0 0.5rem 1.25rem;
    padding: 1.25rem;
    width: 45%;
}

.course .name{
    color: #003366;
    border-bottom: 0.125rem solid #009900;
    font-size: 1.7rem;
    font-weight: 600;
}

.course .schedule, .course .price{
    font-weight: 400;
    padding-top: 1rem;
}

.course .btnService{
    background: #009900;
    border: 3px solid #009900;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 0.75rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.course .btnService:hover{
    background: #ffffff;
    border-radius: 0;
    color: #009900;
    
}


@media only screen and (max-width: 580px){
    .course{
        width: 90%;
    }
}


/* ----------------------------------------------
    ------------------ ACCORDION ----------------
    -------------------------------------------- */
.accordion{
    margin: 1rem 0;
    width: 100%;
}

.accordion .ui-accordion-header{
    background: #003366;
    border: 1px solid #003366;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.accordion .ui-accordion-icons{
    padding: 0.5em;
}

.accordion .ui-icon{
    left: 95% !important;
}

.accourdion .contact-container, .accordion .rules-container{
    width: 100%;
    overflow: hidden;
}

.contact-container{
    padding: 1em !important;
}

.contact-container .contact_info{
    float: left;
    font-size: 1.3rem;
    margin-right: 4%;
    width: 46%;
}

.contact-container .contact_info p{
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -webkit-pre-wrap;
    word-break: break-all;
    white-space: normal;
    width: 100%;
}

.contact-container .contact_info .subtitle{
    color: #009900;
    border-bottom: 1px solid #003366;
    margin-left: 0;
}

@media screen and (max-width: 1000px){
    
    .accordion .ui-accordion-header{
        font-size: 1.3rem;
    }


    .contact-container .contact_info .subtitle{
        font-size: 1.3rem;
    }
    
    .contact-container .contact_info{
        font-size: 1rem;
    }

}

@media screen and (max-width: 620px){
       
    .contact-container .contact_info{
        float: left;
        font-size: 1.3rem;
        margin-right: 0;
        width: 98%;
    }

    .accordion .ui-icon{
        left: 90% !important;
    }

}

@media screen and (max-width: 480px){
       
    .contact-container .contact_info{
        font-size: 1.1rem;
    }

    .contact-container .contact_info .subtitle{
        font-size: 1.1rem;
    }
}

.dataExists input {
    display: block; 
    margin-left: auto;
    margin: auto;
    width: auto;
}

.maintanance .filterUser{
    margin: 5px;
}

.maintanance .dataExists td{
    margin: auto;
    padding: 10px;
    font-size: 15px;
    vertical-align: middle;
}

.maintanance .dataExists table table{
    border: 0;
}

.maintanance .dataExists table table tr{
    border: 0;
}

.maintanance .dataExists table table tr a{
    color: #000000;
}

.maintanance .dataExists table table tr span{
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
}

.maintanance {
    font-size: 1.3rem;
}

.maintanance .specialCheckbox{
    font-size: 15px;
}

.maintanance .specialCheckbox input{
    display: inline-block;
    height: 16px;
    margin: 0 5px 0 0;
    vertical-align: text-bottom;
    width: 20%;
}

.maintanance .message{
    color: #009900;
    font-size: 1.5em;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.maintanance .subtitle-income{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 17px;
}

.maintanance #ContentPlaceHolder1_btnAdd {
    display: block;
    border-radius: 0;
    border: 1px solid #003366;
    background: #003366;
    color: #ffffff;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.maintanance .buttonsWaiting{
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.controls-report-list{
    margin-bottom: 50px;
}

.reportList{
    display: block;
    border-radius: 0;
    border: 1px solid #003366;
    background: #003366;
    color: #ffffff;
    font-size: 16px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.maintanance .buttonsWaiting .btnWaitingList{
    border-radius: 0;
    border: 1px solid #003366;
    background: #003366;
    color: #ffffff;
    font-size: 16px;
    float: left;
    margin: 0 10px 10px 0;
    width: 200px;
}

.maintanance .has-error{
    border-color: #E80000;
}

.maintanance .message-has-error {
    color: #E80000;
    padding: 10px;
}

.maintanance .send{
    width: auto;
}

.maintanace .uploadImage{
    display: table-cell;
}


.maintanance .uploadText {
    display: table-cell;
    width: 74%;
}

.maintanance .fileUpload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 0;
    background: #003366;
    cursor: pointer;
    width: 20%;
}

.maintanance .fileUpload:hover {
    cursor: pointer;
}

.maintanance .fileUpload input.upload {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    display: inline-block;
}

.maintanance .fileUpload span img {
    width: 40%;
}

.maintanance .listCheckbox, .maintanance .listDaysCheckbox{
    width: 100%;
}

.maintanance .listCheckbox table, .maintanance .listDaysCheckbox table{
    border-collapse: collapse;
}

.maintanance .listCheckbox td{
    width: 20%;
}

.maintanance .listDaysCheckbox td{
    width: auto;
}

.maintanance .listCheckbox label{
    font-size: 16px;
    left: auto;
}

.maintanance .listDaysCheckbox label {
    font-size: 16px;
    left: auto;
    position: relative;
    top: 0;
}

.maintanance .listCheckbox input, .maintanance .listDaysCheckbox input{
    display: inline-block;
    height: 15px;
    margin: 0;
    vertical-align: text-bottom;
    width: 20%;
}

@media screen and (max-width: 1024px){
    
    .listCheckbox tr, .listDaysCheckbox  tr {
      display: block;
    }

    .listCheckbox  td, .listDaysCheckbox  td{
      display: block;
      font-size: 13px;
    }

    .listCheckbox  td:last-child {
      border-bottom: 0;
    }  

    .maintanance .listCheckbox td {
        width: 100%;
    }

    .maintanance .listCheckbox input {
        width: 10%;
    }

    .maintanance .listCheckbox label{
        position: static;
    }
}

@media screen and (max-width: 991px){
    .maintanance .subtitle-income{
        margin-bottom: 15px;
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .maintanance .send{
        width: 100%;
    }
}

@media screen and (max-width: 380px){
    
    .maintanance .fileUpload span img {
        width: 100%;
    }
    
}

/* --------------------------------------
    ------- Service Accordion -----------
    ------------------------------------- */
.programAccordion{
    margin: 1rem 0;
    width: 100%;
}

.programAccordion .ui-accordion-header{
    background: #003366;
    border: 5px solid #003366;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.programAccordion .ui-accordion-icons{
    padding: 0.5em;
}

.programAccordion .ui-icon{
    left: 95% !important;
}

.listCourse{
    padding: 1em !important;
}

.listCourse .ui-accordion .ui-accordion-content{
    border: 1px solid #003366;
    border-radius: 0;
}

@media screen and (max-width: 650px){
    .programAccordion .ui-icon{
        left: 90% !important;
    }
}

/* --------------------------------------
    ------- Roles Accordion -----------
    ------------------------------------- */
.rolesAccordion{
    margin: 1rem 0;
    width: 100%;
}

.rolesAccordion .ui-accordion-header{
    background: #003366;
    border: 5px solid #003366;
    border-radius: 0;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.rolesAccordion .ui-accordion-icons{
    padding: 0.5em;
}

.rolesAccordion .ui-icon{
    left: 95% !important;
}

.listRules{
    padding: 1em !important;
    border: 1px solid #003366 !important;
    border-radius: 0 !important;
}

.listRules .ui-accordion .ui-accordion-content{
    border: 1px solid #003366;
    border-radius: 0;
    padding: 1rem;
    overflow: hidden;
}

.listRules .rule {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px; 
    width: 47%;
}

.listRules .rule  .name{
    color: #003366;
    border-bottom: 0.125rem solid #009900;
    font-size: 1.7rem;
    font-weight: 600;
}

.listRules .rule .description{
    text-align: justify;
}

@media screen and (max-width: 959px){
    .listRules .rule {
        margin-right: 10px;
    }
}

@media screen and (max-width: 768px){
    .listRules .rule {
        margin-right: 0px; 
        width: 100%;
    }
}

@media screen and (max-width: 660px){
    .rolesAccordion .ui-icon{
        left: 90% !important;
    }
}

/* ---------------------------------------
    -------- Accordion images ------------
    -------------------------------------- */
.ui-icon-plus{
    background: url("../images/page-icons/plus.png") no-repeat !important;
}

.ui-icon-minus{
    background: url("../images/page-icons/minus.png") no-repeat !important;
}


/* -------------------------------------
    ------- RESET PASSWORD MODAL -------
    -----------------------------------*/
.reset-password{
    border: 1px solid #888;
}

.modal-body{
    font-size: 18px;
    overflow: hidden;   
}

.modal-body input{
    padding: 5px;
    border: 1px solid #b3b3b3;
}
