
/* ------------------------------------------------------
----------------- .LOGIN_CONTAINER ----------------------
--------------------------------------------------------- */
.login_container{
    border: 2px solid #003366;
    border-radius: 4px;
    margin: auto;
    max-width: 700px;
    min-width: 250px;
}

.login_header{
    background: #003366;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

.login_header > p{
    font-size: 1.5em;
}

.login_content{
    background: #FFFFFF;
    padding: 20px;
}

.login_content input[type="text"], 
.login_content input[type="password"],
.login_content select {
    border: 1px solid #D0D0D0;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 20px;
    height: 40px;
    padding: 0 25px 0 60px;
    outline: none;
    width: 100%;
}

.login_content input#ContentPlaceHolder1_txtUser{
    background: #FFFFFF url("../images/page-icons/user-icon.png") 20px center no-repeat;
    background-size: 24px 24px;
}

.login_content input#ContentPlaceHolder1_txtPassword {
    background: #FFFFFF url("../images/page-icons/password-icon.png") 20px center no-repeat;
    background-size: 24px 24px;
}

.login_content input[type="submit"]{
    background-color: #003366;
    border: 2px solid #003366;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 20px;
    padding: 6px;
}

.login_content a{
    color: #337AB7;
    text-decoration: none;
    vertical-align: middle;
}

.login_content a:hover{
    cursor: pointer;
    text-decoration: none;  
}

@media screen and (max-width: 620px ){
    
    .login_container{
        margin: 1rem;    
    }

    .login_content input[type="text"], 
    .login_content input[type="password"],
    .login_content select {
        font-size: 16px;
    }
}

/* ------------------------------------------------------
------------------------ MAINTANCE  ---------------------
------------------------------------------------------- */
.maintanance{
    margin: auto;
    padding: 10px;
}

.button{
    background: #003366;
    border: 2px solid #003366;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 1em;
    padding: 10px;
}

.button:hover{
    background: #FFFFFF;
    border: 2px solid #003366;
    border-radius: 3px;
    color: #003366;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
}

.form{
    margin: auto;
    padding: 10px;
}

.form fieldset{
    margin: auto;
    min-width: 50%;
}

.form-control{
    border-radius: 0px !important;
}

.form-control:disabled{
    cursor: not-allowed;
}

.form-button{
    background-color: #003366;
    border: 2px solid #003366;
    border-radius: 3px;
    color: #FFFFFF;
    padding: 10px;
}

.form-buttons{
    text-align: center;
}

.form-buttons .image_align{
    display: inline-block;
    height: 5%;
    margin-right: 10px;
    max-height: 62px;
    max-width: 62px;
    min-height: 30px;
    min-width: 30px;
    width: 15%;
}

.form-buttons input:disabled{
    cursor: not-allowed !important;
}

.maintanance .dataExists{
    margin: auto;
    padding: 10px;
}

@-moz-document url-prefix() {
  .maintanance .dataExists fieldset { display: table-cell; }
}

.maintanance .message{
    color: #009900;
    font-size: 1.5em;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.maintanance .has-error{
    border-color: #E80000;
}

.maintanance .message-has-error{
    color: #E80000;
    padding: 10px;
}

@media screen and (max-width: 768px){
    
    .form-buttons .image_align{
        width: 12%;
    }

}

@media screen and (max-width: 460px){
    
    .form-buttons .image_align{
        width: 18%;
    }

}

/* -------------- Calendar ------------------- */
.maintanance .calendar{
    background-color: #FFFFFF; 
    border: solid 1px #666666;
    font-size: 1em !important;
    width: 230px;
}

.maintanance .ajax__calendar_container{
    width: 100%;
}

.calendar .ajax__calendar_title,
.calendar .ajax__calendar_next,
.calendar .ajax__calendar_prev{
    color: #003366;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 3px; 
}

.calendar .ajax__calendar_body{
    background-color: #FFFFFF;
    color: #000000;
    border: solid 1px #cccccc; 
    width: 100%;
}    

.calendar .ajax__calendar_dayname {
    text-align:center;   
    font-weight:bold;   
    margin-bottom: 4px;   
    margin-top: 2px;  
}

.calendar .ajax__calendar_days thead, 
.calendar .ajax__calendar_days tbody{
    font-size: 1.2em;
    margin: 15px;
}

.calendar .ajax__calendar_days thead td, 
.calendar .ajax__calendar_days tbody td{
    padding-left: 12px;
}

.calendar .ajax__calendar_day{
    font-size: 1em;
    text-align: center;
}

.calendar .ajax__calendar_today   {  
    font-size: 1em;
    font-weight:bold;  
}  

/* -------- combobox ------------------- */
.maintanance .dropdown-menu{
    width: 100%;
}

.maintanance .dropdown-menu li{
    width: 100%;
}

.dataExists table{
    border: 1px solid #003366;
    text-align: center;
    width: 100%;
    min-width: 400px;
}

.dataExists th {
    background-color: #003366;
    color: #FFFFFF;
    text-align: center !important;
}

.dataExists table tr{
    line-height: 40px;
}

.dataExists table tbody tr{
    border-top: 1px solid #003366;
}

.dataExists img {
    vertical-align: central;
}

/* -------------------- Modal Styles ------------------------ */
.modal-dialog {
    border-radius: 0;
    width: 50%;
}

.modal-container {
    background: #FFFFFF;
    border: 2px solid #003366;
    border-radius: 0;
    color: #000000;
    margin: auto;
    padding: 20px;
    width: 100%;
}

.modal .special-label{
    color: #003366;
    font-size: 1.4em;
    margin-left: 10px;
    margin-top: 20px;
}

.saveModal {
    background: #003366;
    border: 2px solid #003366;
    border-radius: 3px;
    color: #FFFFFF;
    float: right;
    font-size: 1em;
    padding: 10px;
}

.closePopUp{
    background: none !important;
    border: none;
    color: #003366;
    font-size: 1.2em;
    float: right;
    padding: 5px;
}

.closePopUp:hover{
    text-decoration: underline;
}

/* Confirm Menssage*/
.modal-header{
    background-color: #003366;
    color: #FFFFFF;
    font-size: 1.5em;
}

.modal-body{
    font-size: 1.2em;
}

.modal-footer button,.modal-footer input{
    background-color: #003366;
    border-color: #003366;
    border-radius: 0;
    color: #FFFFFF;
    margin-right: 10px;
    width: 100px;
}

.modal-footer button:hover, .modal-footer input[type="submit"]:hover{
    color: #FFFFFF !important;
}

@media screen and (max-width: 768px){
   
    .modal-dialog {
        border-radius: 0;
        width: 70%;
    }
}

@media screen and (max-width: 620px){
    .modal-dialog {
        border-radius: 0;
        width: 90%;
    }
}


/*  MEDIA QUERIES */
/* 800px */
@media screen and (max-width: 800px){
    
    /* ------- Footer ----------- */
    footer p{
        font-size: 14px;
        width: 100%;
    }

}

/* 720px */
@media screen and (max-width: 720px){

    /* ------- Footer ----------- */
    footer p{
        font-size: 12px;
        width: 100%;
    }

}

/* 720px */
@media screen and (max-width: 650px){
    
}

/* 600px */
@media screen and (max-width: 600px){
        
    /* ------- Footer ----------- */
    footer p{
        font-size: 10px;
        width: 100%;
    }

}

/* 480px */
@media screen and (max-width: 480px){
    
    /* ----------- footer ------------- */
    footer p{
        font-size: 10px;
        width: 100%;
    }

}